/* setting up basic stuff i.e background and margin */
body {
  margin: 0;
  background: #f0f2f3;
  font-weight: 300;
}

/* inputting font from google */
*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
}

/* to make font easier to read */
p {
  font-size: large;
}

/* keeping a 20% margin on both sides for body text */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Start of universal classes */
.hyperlink {
  color: #d6a419;
  text-decoration: none;

  transition: color 0.2s, color 0.2s;
}

.hyperlink:hover {
  color: #003366;
  text-decoration: underline;
}

.center-aligned {
  text-align: center;
}

/* end of universal classes */

/* Start of header styling */
.container1 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header {
  background: #003366;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  width: 70px;
  height: 70px;
}

label.logo {
  color: #444;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 80px;
  font-weight: bold;
}

#logo-text {
  display: inline-block;
  height: 70px;
  width: 270px;
}

#cancerictive-text {
  color: #d6a419;
  font-size: 2rem;
  padding-left: 20px;
  vertical-align: bottom;
  line-height: 0rem;
}

#slogan-text {
  color: white;
  padding-left: 20px;
  vertical-align: super;
  line-height: 2.5rem;
}

/* nav bar stuff */
nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
}

nav ul li a {
  color: #f0f2f3;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 13px;

  transition: background-color 0.2s, color 0.2s;
}
/* nav button animations */
nav a:hover {
  color: #d6a419;
}

/* Header Login button */
.dropbtn {
  background-color: #1b8d89;
  color: white;
}

.dropbtn:hover {
  background-color: white;
}
/* End of header styling */

/* setting up the cards to be only in a column */
.card-single {
  display: column;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  align-items: flex-start;

  margin-bottom: 2rem;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .card-single {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #ffffff;
  border: none;
}

.card-header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.card-body {
  font-size: 1rem;
}

.card-body ul {
  font-size: 1rem;
}

.card-footer {
  margin-top: 1rem;
}

/* making specific cards for forms so that colour and size are different */
.card1 {
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #ffffff;
  border-radius: 1rem;
  border: none;
  font-size: large;
  width: 40%;
  margin: 0 auto;
}

.input-type-text {
  width: 95%;
  padding: 15px;
  margin: 5px 0 0px 0;
  align-items: center;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.bottom-margin {
  margin-bottom: 20px;
}
/* End of input type text fix */

input[type="email"] {
  width: 95%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="password"] {
  width: 95%;
  padding: 15px;
  margin: 5px 0 0px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.select-id-category {
  width: 95%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* styling the error messages */
.input-control {
  display: flex;
  flex-direction: column;
}

/* styling the input elements inside input control container */
.input-control input {
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
}

/* styling when clicked */
.input-control input:focus {
  outline: 0;
}
/* success border colour */
.input-control.success input {
  border-color: #09c372;
}
/* error border colour */
.input-control.error input {
  border-color: #ff3860;
}
/* error mesage */
.input-control .error {
  color: #ff3860;
  font-size: small;
  margin-bottom: 20px;
}

/* Login and clear button styling */
.btn {
  background-color: #003366;
  border: none;
  padding: 5px 10px;
  margin-bottom: 30px;

  font-size: 1rem;
  color: #d6a419;

  transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
  background-color: #d6a419;
  color: white;
}

/* two uneven columns styling */
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* styling the table */
/* table {
  width: 90%;
  border-collapse: collapse;
  border: 1px solid #a5a5a5;
  margin: 0 auto;
  background-color: #ffffff;
} */

/* Start table styling */
.tablestyle {
  border-collapse: collapse;
  width: 100%;
}

.tablestyle td {
  padding: 15px;
}
.tablestyle th {
  padding: 15px;
  text-align: center;
}

.tablestyle th {
  background-color: #003366;
  color: #fff;
}

.normal-table tr:nth-child(even) {
  background: linear-gradient(to right, #ecf0f1, #bdc3c7);
}

.normal-table tr:nth-child(odd) {
  background: linear-gradient(to right, #71b1c5, #3498db);
  color: #fff;
}

/* for tables with collapsable elements */
.collapsable-table tr:nth-child(4n + 1) {
  background: linear-gradient(to right, #71b1c5, #3498db);
  color: #fff;
}

.collapsable-table tr:nth-child(4n-1) {
  background: linear-gradient(to right, #ecf0f1, #bdc3c7);
}

.collapsable-row {
  display: none;
}

.collapsable-row td {
  padding-bottom: 100px;
  text-align: center;
}

.table-header {
  font-size: 2rem;
}

.collapsable {
  display: none;
}

/* This part for the table titles on each card */
.table-arrow {
  width: 30px;
  height: 30px;
  vertical-align: baseline;
}

.show-hide {
  transition: background-color 0.2s, color 0.2s;
}

.show-hide:hover {
  color: white;
  background-color: #003366;
}

/* End of show hide headers styling */

/* End table styling */

/* For profile.php */
.patient-photo {
  width: 300px;
  height: 300px;
}

.deets-table {
  font-size: 1.5rem;
}

.label-cells {
  border-right: white 1px solid;
}

.table-hyperlink {
  color: #003366;
  text-decoration: none;

  transition: color 0.2s, color 0.2s;
}

.table-hyperlink:hover {
  color: #ffbb00;
  text-decoration: underline;
}

/* end profile.php styling */

/* for researcher.php */
.more-narrowed-margin {
  margin-left: 200px;
  margin-right: 200px;
}

.more-narrowed-padding {
  padding-left: 200px;
  padding-right: 200px;
}

#newpatient {
  margin-bottom: 20px;
}

/* end of researcher.php styling */

.flex-container {
  display: flex;
  justify-content: space-around;
  background: #fff;
}

/* Fonts imported by Moey */
.DM-Serif {
  font-family: "DM Serif Display", serif;
}

.Lato {
  font-family: "Lato", sans-serif;
}
